<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Irvan luf bang Gilang</title>
</head>
<body>
    <div style="text-align: justify;">
        <div>
            <h1><a href="/">Kepala</a></h1>
        </div>

        <div>
            <h2><a href=""> Sub kepala </a></h2>
            <p>Test uwwoow</p>
            <em>kyakyakya</em>
            <br>
        </div>

        <div>
        <a href="google.com">mbah gugel</a>
            <ul>
                <li>kya</li>
                <li>kyaa</li>
                <li>kyaaa</li>
            </ul>
        </div>

    </div>
</body>
</html>